/* PERMITIR ACENTUAÇÕES NO SITE */
@charset "UTF-8";

/* PALETA DE CORES */
:root {
    
    --cor0: #ffffff;
    --cor1: #F36A97;
    --cor2: #ED145B;
    --cor3: #1E1E1E;
    --cor4: #141414;
    --cor5: #040404;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body, html {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/pattern29.png);
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor4);
    max-width: 955px;
    margin: 3rem auto 1rem auto;
    padding: 2.5rem 0;
    min-height: 9rem;
}

/* POSICIONAMENTO DE LOGO E BUSCA */
.cabecalho > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-box {}

.img-box img {}

.input-box {
    position: relative;
    margin-top: 0.2rem;
}

.input-box input {
    padding: 0.6rem 1rem 0.6rem 0.4rem;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 13.5rem;
}

.input-box input::placeholder {
    color: var(--cor5);
}

.input-box button {
    position: absolute;
    right: 5%;
    top: 25%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.input-box button img {}

/* MENU */
.menu {
    max-width: 955px;
    padding: 1rem 0;
    height: 5rem;
    margin: 0 auto;
    background-color: var(--cor2);
    margin-bottom: 1rem;
}

.menu > .container {
    padding-inline: 0.7rem;
}

.menu h2 {
    color: white;
    text-transform: uppercase;
    font-variant: small-caps;
    text-align: center;
    font-weight: lighter;
    display: none;
}

/* BOTÃO MOBILE */
.menu .btn-menu {
    display: none;
}

.menu .lista-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu .lista-links .item-link {
    padding: 0.9rem 0;
}

.menu .lista-links .item-link #item-background {
    background-color: var(--cor1);
}

.menu .lista-links .item-link a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}

.menu .lista-links .item-link a:hover {
    background-color: var(--cor1);
    padding: 1rem;
}

/* SEÇÃO SLIDE */
.secao-slide {
    max-width: 955px;
    margin: 0 auto;
    background-color: var(--cor4);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.secao-slide .img-box {
    width: 100%;
}

.secao-slide .img-box img {
    width: 100%;
}

/* CONTEÚDO PRINCIPAL */
.conteudo {
    max-width: 955px;
    margin: 0 auto;
    background-color: var(--cor4);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

/* SEÇÃO ANÚNCIOS */
.secao-anuncios {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.secao-anuncios .anuncio {
    background-color: var(--cor2);
    width: 19rem;
    height: 9rem;
    padding: 1em;
}

.secao-anuncios .anuncio h2 {
    color: white;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.secao-anuncios .anuncio p {
    color: var(--cor0);
    line-height: 1.5rem;
}

.secao-anuncios .anuncio a {
    float: right;
    color: white;
    font-size: 0.8em;
}

.secao-anuncios .anuncio a:hover {
    color: var(--cor1);
}

/* SEÇÃO DESTAQUE */
.conteudo .secao-destaque {
    display: flex;
    gap: 1rem;
}

/* BLOG */
.blog {}

.secao-destaque h2 {
    font-weight: lighter;
    border-bottom: 3px solid var(--cor2);
    color: var(--cor0);
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
}

.blog .artigo {
    display: flex;
    background-color: var(--cor5);
    padding: 1rem;
    width: 37.4rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.blog .artigo .img-box {}

.blog .artigo .img-box img {
    width: 100%;
}

.blog .artigo .descricao {}

.blog .artigo .descricao h3 {}

.blog .artigo .descricao h3 a {
    color: var(--cor0);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: lighter;
}

.blog .artigo .descricao h3 a:hover {
    color: var(--cor2);
}

.blog .artigo .descricao aside {
    background-color: #0f0f0f;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
}

.blog .artigo .descricao aside p {
    color: #959595;
    font-style: italic;
    font-size: 0.9em;
}

.blog .artigo .descricao aside p a {
    text-decoration: none;
    color: var(--cor0);
}

.blog .artigo .descricao aside p a:hover {
    color: var(--cor2);
}

.blog .artigo .descricao > p {
    color: #959595;
    line-height: 1.5em;
    font-size: 0.9em;
}

.albums-envents {} /* ALBUM E EVENTS */

.albums-envents h2 {}

/* ALBUMS */
.albums {
    margin-bottom: 1.5rem;
    background-color: var(--cor5);
    padding: 1rem;
}

.albums .img-box {}

.albums .img-box img {
    width: 100%;
}

/* EVENTS */
.events {
    background-color: var(--cor5);
    padding: 1rem;
}

.events .lista-events {
    list-style-type: circle;
    list-style-position: inside;
    background-color: var(--cor4);
    padding: 1rem;
}

.events .lista-events .item-events {
    margin-bottom: 1rem;
}
.events .lista-events .item-events a {
    text-decoration: none;
    color: var(--cor0);
    font-size: 0.9em;
}

.events .lista-events .item-events a:hover {
    color: var(--cor2);
}

/* RODAPÉ */
.rodape {
    margin: 0 auto;
    max-width: 955px;
    background-color: var(--cor4);
    border-top: 3px solid var(--cor2);
    padding: 1.4rem 0 1rem 0;
    
}

/* LISTAS SOBRE NÓS */
.lista-sobre-nos {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
    list-style: none;
}

.lista-sobre-nos .item {
    width: 13rem;
}

.lista-sobre-nos .item h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2em;
    color: white;
    margin-bottom: 1.4rem;
}

/* ITEM 1 */
.lista-sobre-nos #item-1 {}

.rodape .lista-sobre-nos #item-1 p {
    color: #959595;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}

/* ITEM 2 */
.lista-sobre-nos #item-2 {}

.lista-sobre-nos #item-2 .lista-post {
    list-style: none;
}

.lista-sobre-nos #item-2 .lista-post .item-post {
    border-bottom: 1px dotted #333333;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.lista-sobre-nos #item-2 .lista-post .item-post a {
    color: var(--cor0);
    font-size: 0.9em;
    text-decoration: none;
}

.lista-sobre-nos #item-2 .lista-post .item-post a:hover {
    color: var(--cor2);
}

/* ITEM 3 */
.lista-sobre-nos #item-3 {}

.lista-sobre-nos #item-3 a {
    background-color: var(--cor2);
    text-decoration: none;
    color: var(--cor0);
    padding: 0.8rem;
    float: left;
    font-size: 0.8em;
    margin: 2px;
}

.lista-sobre-nos #item-3 a:hover {
    background-color: var(--cor1);
}

/* ITEM 4 */
.lista-sobre-nos #item-4 {}

.lista-sobre-nos #item-4 .lista-contato {
    list-style: none;
}

.rodape .lista-sobre-nos #item-4 .lista-contato .item-contato {}

.lista-sobre-nos #item-4 .lista-contato .item-contato a {
    color: #959595;
    text-decoration: none;
    margin-bottom: 0.9rem;
    padding-bottom: 0.9rem;
    font-size: 0.9em;
    border-bottom: 1px dotted #333333;
    display: block;
}

.creditos {
    margin: 0 auto;
    max-width: 955px;
    background-color: var(--cor5);
    display: flex;
    padding: 0.5rem;
    justify-content: space-around;
}

.creditos p {
    text-align: center;
    color: var(--cor0);
}

.creditos p a {
    color: var(--cor0);
    text-decoration: none;
}

.creditos p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 960px) {

    .cabecalho, .menu, .secao-slide, .conteudo, .rodape {
        max-width: 760px;
    }

    .secao-anuncios .anuncio {
        height: 10rem;
    }

    .blog .artigo {
        width: 29.9rem;
    }

    .events .lista-events {
        padding: 0.6rem;
    }
}

@media screen and (max-width: 768px) {

    .cabecalho {
        margin: auto auto 1rem auto;
    }

    .cabecalho > .container {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    .cabecalho > .container .img-box {
        margin-bottom: 1rem;
    }

    .cabecalho > .container .img-box img {
        width: 100%;
    }

    .menu {
        height: 4rem;
    }
    .menu > .container {
        display: flex;
        padding-inline: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .menu h2 {
        display: block;
    }

    .menu .btn-menu {
        display: block;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
    }
    
    .menu .btn-menu .hamburguer {
        width: 35px;
        border-top: 2px solid white;
        display: block;
        transition: .3s;
    }

    .menu .btn-menu .hamburguer::before {
        content: '';
        display: block;
        width: 35px;
        height: 0.125rem;
        background-color: white;
        margin-top: 7px;
        transition: .3s;
    }

    .menu .btn-menu .hamburguer::after {
        content: '';
        display: block;
        width: 35px;
        height: 0.125rem;
        background-color: white;
        margin-top: 7px;
        transition: .3s;
    }

    /* CLASSE QUE VAI SER ATIVADA COM JAVASCRIPT */
    .btn-menu .hamburguer.ativado {
        border-top: transparent;
    }

    .btn-menu .hamburguer.ativado::before {
        transform: rotate(135deg);
    }

    .btn-menu .hamburguer.ativado::after {
        transform: rotate(-135deg);
        position: relative;
        top: -9px;
    }

    .menu .lista-links.ativado {
        height: calc(20.5rem - 4rem);
        visibility: visible;
    }
    
    .menu .lista-links {
        position: absolute;
        flex-direction: column;
        background-color: var(--cor2);
        width: 100%;
        height: 0;
        visibility: hidden;
        left: 0;
        gap: 0;
        top: 17.6rem;
        overflow-y: hidden;
        text-align: center;
        transition: 0.5s;
        z-index: 2;
    }

    .menu .lista-links .item-link {
        padding: 0;
    }

    .menu .lista-links #item-background {
        background-color: var(--cor2);
    }

    .menu .lista-links .item-link a {
        display: block;
        width: 100%;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .secao-anuncios {
        flex-direction: column;
    }

    .secao-anuncios .anuncio {
        height: 8rem;
        width: 100%;
    }

    .secao-destaque {
        flex-direction: column;
    }

    .blog .artigo {
        width: 100%;
        flex-direction: column;
    }

    .blog .artigo .img-box img {
        width: 58%;
    }

    .events .lista-events {
        padding: 0.9rem;
    }

    .rodape .lista-sobre-nos {
        display: flex;
        gap: 2rem;
        margin-bottom: 1.5rem;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    .creditos {
        flex-direction: column;
    }

    .creditos p {
        margin-bottom: .6rem;
    }

} 

@media screen and (max-width: 430px) {
    .menu .lista-links {
        top: 16.4rem;
    }
}
