/* PERMITIR ACENTUAÇÕES NO SITE */
@charset "UTF-8";

/* PALETA DE CORES */
:root {
    
    --cor0: #ffffff;
    --cor1: #F36A97;
    --cor2: #ED145B;
    --cor3: #1E1E1E;
    --cor4: #141414;
    --cor5: #040404;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body, html {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/pattern29.png);
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor4);
    max-width: 955px;
    margin: 3rem auto 1rem auto;
    padding: 2.5rem 0;
    min-height: 9rem;
}

.cabecalho .img-serch-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho .img-serch-position .img-box {}

.cabecalho .img-serch-position .img-box img {}

.cabecalho .img-serch-position .input-box {
    position: relative;
    margin-top: 0.2rem;
}

.cabecalho .img-serch-position .input-box input {
    padding: 0.6rem 1rem 0.6rem 0.4rem;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 13.5rem;
}

.cabecalho .img-serch-position .input-box input::placeholder {
    color: var(--cor5);
}

.cabecalho .img-serch-position .input-box button {
    position: absolute;
    right: 5%;
    top: 25%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cabecalho .img-serch-position .input-box button img {}

/* MENU */
.menu {
    max-width: 955px;
    padding: 1rem 0;
    height: 5rem;
    margin: 0 auto;
    background-color: var(--cor2);
    margin-bottom: 1rem;
}

.menu h2 {
    color: white;
    text-transform: uppercase;
    font-variant: small-caps;
    text-align: center;
    font-weight: lighter;
    display: none;
}

/* BOTÃO MOBILE */
.menu #btn {
    display: none;
}

.menu .check-btn {}

.menu .check-btn .mark {
    display: none;
}

.menu .check-btn .mark-off {
    opacity: 0;
    position: absolute;
    transition: all .5s;
}

.menu .lista-links {
    list-style: none;
    display: flex;
    margin-left: -0.5rem;
    gap: 2rem;
}

.menu .lista-links .item-link {
    padding: 0.9rem 0;
}

.menu .lista-links .item-link #item-background {
    background-color: var(--cor1);
}

.menu .lista-links .item-link a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}

.menu .lista-links .item-link a:hover {
    background-color: var(--cor1);
    padding: 1rem;
}

/* SEÇÃO SLIDE */
.secao-slide {
    max-width: 955px;
    margin: 0 auto;
    background-color: var(--cor4);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.secao-slide .img-box {
    width: 100%;
}

.secao-slide .img-box img {
    width: 100%;
}

/* CONTEÚDO PRINCIPAL */
.conteudo {
    max-width: 955px;
    margin: 0 auto;
    background-color: var(--cor4);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

/* SEÇÃO ANÚNCIOS */
.conteudo .secao-anuncios {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.conteudo .secao-anuncios .anuncio {
    background-color: var(--cor2);
    width: 19rem;
    height: 9rem;
    padding: 1em;
}

.conteudo .secao-anuncios .anuncio h2 {
    color: white;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.conteudo .secao-anuncios .anuncio p {
    color: var(--cor0);
    line-height: 1.5rem;
}

.conteudo .secao-anuncios .anuncio a {
    float: right;
    color: white;
    font-size: 0.8em;
}

.conteudo .secao-anuncios .anuncio a:hover {
    color: var(--cor1);
}

/* SEÇÃO DESTAQUE */
.conteudo .secao-destaque {
    display: flex;
    gap: 1rem;
}

/* BLOG */
.conteudo .secao-destaque .blog {}

.conteudo .secao-destaque h2 {
    font-weight: lighter;
    border-bottom: 3px solid var(--cor2);
    color: var(--cor0);
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
}

.conteudo .secao-destaque .blog .artigo {
    display: flex;
    background-color: var(--cor5);
    padding: 1rem;
    width: 37.4rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.conteudo .secao-destaque .blog .artigo .img-box {}

.conteudo .secao-destaque .blog .artigo .img-box img {
    width: 100%;
}

.conteudo .secao-destaque .blog .artigo .descricao {}

.conteudo .secao-destaque .blog .artigo .descricao h3 {}

.conteudo .secao-destaque .blog .artigo .descricao h3 a {
    color: var(--cor0);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: lighter;
}

.conteudo .secao-destaque .blog .artigo .descricao h3 a:hover {
    color: var(--cor2);
}

.conteudo .secao-destaque .blog .artigo .descricao aside {
    background-color: #0f0f0f;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
}

.conteudo .secao-destaque .blog .artigo .descricao aside p {
    color: #959595;
    font-style: italic;
    font-size: 0.9em;
}

.conteudo .secao-destaque .blog .artigo .descricao aside p a {
    text-decoration: none;
    color: var(--cor0);
}

.conteudo .secao-destaque .blog .artigo .descricao aside p a:hover {
    color: var(--cor2);
}

.conteudo .secao-destaque .blog .artigo .descricao > p {
    color: #959595;
    line-height: 1.5em;
    font-size: 0.9em;
}

/* ALBUMS */
.conteudo .secao-destaque {}

.conteudo .secao-destaque .albums-envents {}

.conteudo .secao-destaque .albums-envents h2 {}

.conteudo .secao-destaque .albums-envents .albums {
    margin-bottom: 1.5rem;
    background-color: var(--cor5);
    padding: 1rem;
}

.conteudo .secao-destaque .albums-envents .albums .img-box {}

.conteudo .secao-destaque .albums-envents .albums .img-box img {
    width: 100%;
}

/* EVENTS */
.conteudo .secao-destaque .albums-envents .events {
    background-color: var(--cor5);
    padding: 1rem;
}

.conteudo .secao-destaque .albums-envents .events .lista-events {
    list-style-type: circle;
    list-style-position: inside;
    background-color: var(--cor4);
    padding: 1rem;
}


.conteudo .secao-destaque .albums-envents .events .lista-events .item-events {
    margin-bottom: 1rem;
}
.conteudo .secao-destaque .albums-envents .events .lista-events .item-events a {
    text-decoration: none;
    color: var(--cor0);
    font-size: 0.9em;
}

.conteudo .secao-destaque .albums-envents .events .lista-events .item-events a:hover {
    color: var(--cor2);
}

/* RODAPÉ */
.rodape {
    margin: 0 auto;
    max-width: 955px;
    background-color: var(--cor4);
    border-top: 3px solid var(--cor2);
    padding: 1.4rem 0 1rem 0;
    
}

.rodape .lista-sobre-nos {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
    list-style: none;
}

.rodape .lista-sobre-nos .item {
    width: 13rem;
}

.rodape .lista-sobre-nos .item h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2em;
    color: white;
    margin-bottom: 1.4rem;
}

/* ITEM 1 */
.rodape .lista-sobre-nos #item-1 {}

.rodape .lista-sobre-nos #item-1 p {
    color: #959595;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}


/* ITEM 2 */
.rodape .lista-sobre-nos #item-2 {}

.rodape .lista-sobre-nos #item-2 .lista-post {
    list-style: none;
}

.rodape .lista-sobre-nos #item-2 .lista-post .item-post {
    border-bottom: 1px dotted #333333;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.rodape .lista-sobre-nos #item-2 .lista-post .item-post a {
    color: var(--cor0);
    font-size: 0.9em;
    text-decoration: none;
}

.rodape .lista-sobre-nos #item-2 .lista-post .item-post a:hover {
    color: var(--cor2);
}

/* ITEM 3 */
.rodape .lista-sobre-nos #item-3 {}

.rodape .lista-sobre-nos #item-3 a {
    background-color: var(--cor2);
    text-decoration: none;
    color: var(--cor0);
    padding: 0.8rem;
    float: left;
    font-size: 0.8em;
    margin: 2px;
}

.rodape .lista-sobre-nos #item-3 a:hover {
    background-color: var(--cor1);
}

/* ITEM 4 */
.rodape .lista-sobre-nos #item-4 {}

.rodape .lista-sobre-nos #item-4 .lista-contato {
    list-style: none;
}

.rodape .lista-sobre-nos #item-4 .lista-contato .item-contato {}

.rodape .lista-sobre-nos #item-4 .lista-contato .item-contato a {
    color: #959595;
    text-decoration: none;
    margin-bottom: 0.9rem;
    padding-bottom: 0.9rem;
    font-size: 0.9em;
    border-bottom: 1px dotted #333333;
    display: block;
}

.creditos {
    margin: 0 auto;
    max-width: 955px;
    background-color: var(--cor5);
    display: flex;
    padding: 0.5rem;
    justify-content: space-around;
}

.creditos p {
    text-align: center;
    color: var(--cor0);
}

.creditos p a {
    color: var(--cor0);
    text-decoration: none;
}

.creditos p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 960px) {
    .cabecalho, .menu, .secao-slide, .conteudo, .rodape {
        max-width: 760px;
    }

    .conteudo .secao-anuncios .anuncio {
        height: 10rem;
    }

    .conteudo .secao-destaque .blog .artigo {
        width: 29.9rem;
    }

    .conteudo .secao-destaque .albums-envents .events .lista-events {
        padding: 0.6rem;
    }
}

@media screen and (max-width: 760px) {
    .cabecalho {
        margin: auto auto 1rem auto;
    }

    .conteudo .secao-destaque .blog .artigo {
        width: 29.3rem;
    }

    .conteudo .secao-destaque .albums-envents .events .lista-events {
        padding: 0.4rem;
    }

}

@media screen and (max-width: 730px) {
    .cabecalho .img-serch-position {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    .cabecalho .img-serch-position .img-box {
        margin-bottom: 1rem;
    }

    .cabecalho .img-serch-position .img-box img {
        width: 100%;
    }

    .menu {
        height: 4rem;
    }

    .menu .check-btn .mark {
        display: block;
        right: 7rem;
        font-size: 1.6em;
        top: 14.7rem;
        color: white;
        position: absolute;
    }

    .menu .check-btn .mark-off {
        z-index: 3;
        right: 2rem;
        font-size: 1.6em;
        top: 14.7rem;
        color: white;
        position: absolute;
    }

    .menu h2 {
        display: block;
    }

    .menu #btn:checked ~ .lista-links {
        left: 0%;
    }
    
    .menu #btn:checked + .check-btn .mark-off {
        opacity: 1;
    } 

    .menu .lista-links {
        position: absolute;
        top: 13.6rem;
        background-color: var(--cor2);
        flex-direction: column;
        width: 101%;
        left: -100%;
        gap: 0;
        display: flex;
        height: 17rem;
        transition: all .5s;
    }

    .menu .lista-links .item-link {
        border-bottom: 2px solid var(--cor0);
        padding: 0;
    }

    .menu .lista-links #item-background {
        background-color: var(--cor2);
        border-top: 2px solid var(--cor0);
    }

    .menu .lista-links .item-link a {
        display: block;
        width: 100%;
    }

    .conteudo .secao-anuncios {
        flex-direction: column;
    }

    .conteudo .secao-anuncios .anuncio {
        height: 8rem;
        width: 100%;
    }

    .conteudo .secao-destaque {
        flex-direction: column;
    }

    .conteudo .secao-destaque .blog .artigo {
        width: 100%;
        flex-direction: column;
    }

    .conteudo .secao-destaque .blog .artigo .img-box img {
        width: 58%;
    }

    .conteudo .secao-destaque .albums-envents .events .lista-events {
        padding: 0.9rem;
    }

    .rodape .lista-sobre-nos {
        display: flex;
        gap: 2rem;
        margin-bottom: 1.5rem;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    .creditos {
        flex-direction: column;
    }

    .creditos p {
        margin-bottom: .6rem;
    }

} 

@media screen and (max-width: 430px) {
    .menu .check-btn .mark {
        right: 5rem;
        top: 14.4rem;
    }

    .menu .check-btn .mark-off {
        top: 14.3rem;
    }

    .menu .lista-links {
        top: 13.4rem;
    }
}

@media screen and (max-width: 370px) {
    .menu .check-btn .mark {
        top: 13.9rem
    }

    .menu .check-btn .mark-off {
        top: 13.8rem;
    }

    .menu .lista-links {
        top: 12.9rem;
    }
}