/* PERMITIR ACENTUAÇÕES NO SITE */
@charset "UTF-8";

/* PALETA DE CORES */
:root {
    
    --cor0: #ffffff;
    --cor1: #F36A97;
    --cor2: #ED145B;
    --cor3: #1E1E1E;
    --cor4: #141414;
    --cor5: #040404;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body, html {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/pattern29.png);
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor4);
    max-width: 955px;
    margin: 3rem auto 1rem auto;
    padding: 2.5rem 0;
    min-height: 9rem;
}

.cabecalho .img-serch-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho .img-serch-position .img-box {}

.cabecalho .img-serch-position .img-box img {}

.cabecalho .img-serch-position .input-box {
    position: relative;
    margin-top: 0.2rem;
}

.cabecalho .img-serch-position .input-box input {
    padding: 0.6rem 1rem 0.6rem 0.4rem;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 13.5rem;
}

.cabecalho .img-serch-position .input-box input::placeholder {
    color: var(--cor5);
}

.cabecalho .img-serch-position .input-box button {
    position: absolute;
    right: 5%;
    top: 25%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cabecalho .img-serch-position .input-box button img {}

/* MENU */
.menu {
    max-width: 955px;
    padding: 1rem 0;
    height: 5rem;
    margin: 0 auto;
    background-color: var(--cor2);
    margin-bottom: 1rem;
}

.menu .lista-links {
    list-style: none;
    display: flex;
    margin-left: -0.5rem;
    gap: 2rem;
}

.menu .lista-links .item-link {
    padding: 0.9rem 0;
}

.menu .lista-links #item-background {
    background-color: var(--cor1);
}

.menu .lista-links .item-link a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}

.menu .lista-links .item-link a:hover {
    background-color: var(--cor1);
    padding: 1rem;
}

/* SEÇÃO SLIDE */
.secao-slide {
    max-width: 955px;
    margin: 0 auto;
    background-color: var(--cor4);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.secao-slide .img-box {
    width: 100%;
}

.secao-slide .img-box img {
    width: 100%;
}

/* CONTEÚDO PRINCIPAL */
.conteudo {
    max-width: 955px;
    margin: 0 auto;
    background-color: var(--cor4);
    padding: 1rem 0;
}

/* SEÇÃO ANÚNCIOS */
.conteudo .secao-anuncios {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.conteudo .secao-anuncios .anuncio {
    background-color: var(--cor2);
    width: 19rem;
    height: 24vh;
    padding: 1em;
}

.conteudo .secao-anuncios .anuncio h2 {
    color: white;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.conteudo .secao-anuncios .anuncio p {
    color: var(--cor0);
    line-height: 1.5rem;
}

.conteudo .secao-anuncios .anuncio a {
    float: right;
    color: white;
    font-size: 0.8em;
}

.conteudo .secao-anuncios .anuncio a:hover {
    color: var(--cor1);
}

/* SEÇÃO DESTAQUE */
.conteudo .secao-destaque {
    display: flex;
    gap: 1rem;
}

/* BLOG */
.conteudo .secao-destaque .blog {}

.conteudo .secao-destaque h2 {
    font-weight: lighter;
    border-bottom: 3px solid var(--cor2);
    color: var(--cor0);
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
}

.conteudo .secao-destaque .blog .artigo {
    display: flex;
    background-color: var(--cor5);
    padding: 1rem;
    width: 37.4rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.conteudo .secao-destaque .blog .artigo .img-box {}

.conteudo .secao-destaque .blog .artigo .img-box img {
    width: 100%;
}

.conteudo .secao-destaque .blog .artigo .descricao {}

.conteudo .secao-destaque .blog .artigo .descricao h3 {}

.conteudo .secao-destaque .blog .artigo .descricao h3 a {
    color: var(--cor0);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: lighter;
}

.conteudo .secao-destaque .blog .artigo .descricao h3 a:hover {
    color: var(--cor2);
}

.conteudo .secao-destaque .blog .artigo .descricao aside {
    background-color: #0f0f0f;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
}

.conteudo .secao-destaque .blog .artigo .descricao aside p {
    color: #959595;
    font-style: italic;
    font-size: 0.9em;
}

.conteudo .secao-destaque .blog .artigo .descricao aside p a {
    text-decoration: none;
    color: var(--cor0);
}

.conteudo .secao-destaque .blog .artigo .descricao aside p a:hover {
    color: var(--cor2);
}

.conteudo .secao-destaque .blog .artigo .descricao > p {
    color: #959595;
    line-height: 1.5rem;
    font-size: 0.9em;
}

/* ALBUMS */
.conteudo .secao-destaque {}

.conteudo .secao-destaque .albums-envents {}

.conteudo .secao-destaque .albums-envents h2 {}

.conteudo .secao-destaque .albums-envents .albums {
    background-color: var(--cor5);
    padding: 1rem;
}

.conteudo .secao-destaque .albums-envents .albums .img-box {}

.conteudo .secao-destaque .albums-envents .albums .img-box img {
    width: 100%;
}

/* EVENTS */
.conteudo .secao-destaque .albums-envents .events {
    background-color: var(--cor5);
    padding: 1rem;
}

.conteudo .secao-destaque .albums-envents .events .lista-events {
    list-style: none;
}

.conteudo .secao-destaque .albums-envents .events .lista-events .item-events a {
    text-decoration: none;
    color: var(--cor0);
}

.conteudo .secao-destaque .albums-envents .events .lista-events .item-events a:hover {}

/* RODAPÉ */
.rodape {
    margin: 0 auto;
}

.rodape .lista-sobre-nos {}

.rodape .lista-sobre-nos .item {}

.rodape .lista-sobre-nos .item h2 {}

/* ITEM 1 */
.rodape .lista-sobre-nos #item-1 {}

.rodape .lista-sobre-nos #item-1 p {}


/* ITEM 2 */
.rodape .lista-sobre-nos #item-2 {}

.rodape .lista-sobre-nos #item-2 .lista-post {}

.rodape .lista-sobre-nos #item-2 .lista-post .item-post {}

.rodape .lista-sobre-nos #item-2 .lista-post .item-post a {}


/* ITEM 3 */
.rodape .lista-sobre-nos #item-3 {}

.rodape .lista-sobre-nos #item-3 .lista-album {}

.rodape .lista-sobre-nos #item-3 .lista-album .item-album  {}

.rodape .lista-sobre-nos #item-3 .lista-album .item-album a {}


/* ITEM 4 */
.rodape .lista-sobre-nos #item-4 {}

.rodape .lista-sobre-nos #item-4 .lista-contato {}

.rodape .lista-sobre-nos #item-4 .lista-contato .item-contato {}

.rodape .lista-sobre-nos #item-4 .lista-contato .item-contato a {}

.rodape .creditos {}

.rodape .creditos p {}

.rodape .creditos p a{}