/* PERMITIR ACENTUAÇÕES NO SITE */
@charset "UTF-8";

/* PALETA DE CORES */
:root {
    
    --cor0: #ffffff;
    --cor1: #F36A97;
    --cor2: #E51058;
    --cor3: #1E1E1E;
    --cor4: #141414;
    --cor5: #040404;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body, html {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/pattern29.png);
}

/* SEÇÃO DESTAQUE */
.secaoDestaque {}

/* FORMULÁRIO */
.descricao__formulario {
    background-color: var(--cor5);
    width: 40rem;
    margin: 0;
    padding: 1.2rem;
    padding-top: 5rem;
}

.grupoInputs__inputBox input {
    outline: none;
    border: 2px solid #999999;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    border-radius: 5px;
}

.formulario__grupoInputs p {
    margin-bottom: 0.6rem;
}

/* FIND US */
.secaoDestaque__findUs {}

.secaoDestaque__findUs h2 {}

.findUs__card {
    margin-bottom: 1.5rem;
    background-color: var(--cor5);
    padding: 1rem;
}

.card__imgBox {}

.card__imgBox img {
    width: 100%;
}

.card__listaEenderecos {
    list-style: none;
    color: var(--cor0);
}

.listaEnderecos__item {
    margin-bottom: .5rem;
}

.listaEnderecos__item p {
    color: #959595;
    font-size: 0.9rem;
}

@media screen and (max-width: 730px) {


    .descricao__formulario {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {

    .grupoInputs__inputBox {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .menu__listaLinks {
        top: 16.4rem;
    }
}
