/* PERMITIR ACENTUAÇÕES NO SITE */
@charset "UTF-8";

/* PALETA DE CORES */
:root {
    
    --cor0: #ffffff;
    --cor1: #F36A97;
    --cor2: #E51058;
    --cor3: #1E1E1E;
    --cor4: #141414;
    --cor5: #040404;
}

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body, html {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/pattern29.png);
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor4);
    max-width: 955px;
    margin: 3rem auto 1rem auto;
    padding: 2.5rem 0;
}

/* POSICIONAMENTO DE LOGO E BUSCA */
.cabecalho > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__imgBox {}

.cabecalho__imgBox img {}

.cabecalho__pesquisa {
    position: relative;
}

.cabecalho__pesquisa input {
    padding: 0.6rem 0.5rem 0.6rem 0.4rem;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 13.5rem;
}

.cabecalho__pesquisa input::placeholder {
    color: var(--cor5);
    font-weight: 500;
    letter-spacing: 1px;
}

.cabecalho__pesquisa button {
    position: absolute;
    right: 0;
    top: 22%;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0.2rem;
    width: 2.5rem;
}

.cabecalho__pesquisa button img {}

/* MENU */
.menu {
    max-width: 955px;
    padding: 1.2rem 0;
    margin: 0 auto;
    background-color: var(--cor2);
    margin-bottom: 1rem;
}

.menu h2 {
    color: white;
    text-transform: uppercase;
    font-variant: small-caps;
    text-align: center;
    font-weight: lighter;
    display: none;
    letter-spacing: 2px;
}

/* BOTÃO MOBILE */
.menu__botaoMenu {
    display: none;
}

.menu__listaLinks {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0.9rem 0;
}

.listaLinks__item {}

.listaLinks__item a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}

.listaLinks__item--fundoRosa {
    background-color: var(--cor1);
}

.listaLinks__item a:hover {
    background-color: var(--cor1);
    padding: 1rem;
}

/* SEÇÃO SLIDE */
.secaoSlide {
    max-width: 955px;
    margin: 0 auto;
    background-color: var(--cor4);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.secaoSlide__imgBox {}

.secaoSlide__imgBox img {
    width: 100%;
}

/* CONTEÚDO PRINCIPAL */
.conteudo {
    max-width: 955px;
    margin: 0 auto;
    background-color: var(--cor4);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

/* SEÇÃO ANÚNCIOS */
.secaoAnuncios{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.secaoAnuncios__anuncio {
    background-color: var(--cor2);
    height: 9rem;
    padding: 1em;
}

.secaoAnuncios__anuncio h2 {
    color: white;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.secaoAnuncios__anuncio p {
    color: var(--cor0);
    line-height: 1.5rem;
}

.secaoAnuncios__anuncio a {
    float: right;
    color: white;
    font-size: 0.8em;
}

.secao-anuncios .anuncio a:hover {
    color: var(--cor1);
}

/* SEÇÃO DESTAQUE */
.secaoDestaque {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

/* BLOG */
.secaoDestaque__blog {
    flex: 2;
}

.secaoDestaque h2 {
    font-weight: lighter;
    border-bottom: 3px solid var(--cor2);
    color: var(--cor0);
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
}

.blog__artigo {
    display: flex;
    background-color: var(--cor5);
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.blog__imgBox {}

.blog__imgBox img {
    width: 100%;
}

.blog__descricao {}

.blog__descricao h3 {}

.blog__descricao h3 a {
    color: var(--cor0);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: lighter;
}

.blog__descricao h3 a:hover {
    color: var(--cor2);
}

.blog__descricao aside {
    background-color: #0f0f0f;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
}

.blog__descricao aside p {
    color: #959595;
    font-style: italic;
    font-size: 0.9em;
}

.blog__descricao aside p a {
    text-decoration: none;
    color: var(--cor0);
}

.blog__descricao aside p a:hover {
    color: var(--cor2);
}

.blog__descricao > p {
    color: #959595;
    line-height: 1.5em;
    font-size: 0.9em;
}

.secaoDestaque__albumsEnvents{
    flex: 1;
} /* ALBUM E EVENTS */

.secaoDestaque__albumsEnvents h2 {}

/* ALBUMS */
.albumsEnvents__albums {
    margin-bottom: 1.5rem;
    background-color: var(--cor5);
    padding: 1rem;
}

.albums__imgBox {}

.albums__imgBox img {
    width: 100%;
}

/* EVENTS */
.albumsEnvents__events {
    background-color: var(--cor5);
    padding: 1rem;
}

.events__listaEvents {
    list-style-type: circle;
    list-style-position: inside;
    background-color: var(--cor4);
    padding: 1rem;
}

.listaEvents__itemEvents {
    margin-bottom: 1rem;
}
.listaEvents__itemEvents a {
    text-decoration: none;
    color: var(--cor0);
    font-size: 0.9em;
}

.listaEvents__itemEvents a:hover {
    color: var(--cor2);
}

/* RODAPÉ */
.rodape {
    margin: 0 auto;
    max-width: 955px;
    background-color: var(--cor4);
    border-top: 3px solid var(--cor2);
    padding: 1.4rem 0 1rem 0;
    
}

/* LISTAS SOBRE NÓS */
.rodape__listaSobreNos {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
    list-style: none;
    flex-wrap: wrap;
}

.listaSobreNos__item {
    flex: 1 1 12rem;
}

.listaSobreNos__item h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2em;
    color: white;
    margin-bottom: 1.4rem;
}

/* RODAPÉ ABOUT US */
.listaSobreNos__item--aboutUs {}

.listaSobreNos__item--aboutUs p {
    color: #959595;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}

/* LAST POST*/
.listaSobreNos__item--lastPost {}

.item--lastPost__listaPost {
    list-style: none;
}

.listaPost__itemPost {
    border-bottom: 1px dotted #333333;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.listaPost__itemPost a {
    color: var(--cor0);
    font-size: 0.9em;
    text-decoration: none;
}

.listaPost__itemPost a:hover {
    color: var(--cor2);
}

/* HOT ALBUMS */
.listaSobreNos__item--hotAlbums {}

.listaSobreNos__item--hotAlbums a {
    background-color: var(--cor2);
    text-decoration: none;
    color: var(--cor0);
    padding: 0.8rem;
    float: left;
    font-size: 0.8em;
    margin: 2px;
}

.listaSobreNos__item--hotAlbums a:hover {
    background-color: var(--cor1);
}

/* CONTACT US */
.listaSobreNos__item--contactUs {}

.item--contactUs__listaContato {
    list-style: none;
}

.listaContato__itemContato {}

.listaContato__itemContato a {
    color: #959595;
    text-decoration: none;
    margin-bottom: 0.9rem;
    padding-bottom: 0.9rem;
    font-size: 0.9em;
    border-bottom: 1px dotted #333333;
    display: block;
}

/* FOOTER 2 */
.rodapeCreditos {
    margin: 0 auto;
    max-width: 955px;
    background-color: var(--cor5);
    display: flex;
    padding: 0.5rem;
    justify-content: space-around;
}

.rodapeCreditos p {
    text-align: center;
    color: var(--cor0);
}

.rodapeCreditos p a {
    color: var(--cor0);
    text-decoration: none;
}

.rodapeCreditos p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 960px) {
    
    /* SEÇÃO ANÚNCIOS */
    .secaoAnuncios__anuncio {
        height: 10rem;
    }

    /* EVENTS */
    .events__listaEvents {
        padding: 0.6rem;
    }
}

@media screen and (max-width: 768px) {

    /* CABEÇALHO */
    .cabecalho {
        margin: auto auto 1rem auto;
    }

    .cabecalho > .container {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }
    
    .cabecalho__imgBox img {
        width: 100%;
        margin-bottom: 1rem;
    }

    .menu > .container {
        display: flex;
        padding-inline: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .menu h2 {
        display: block;
    }

    .menu__botaoMenu {
        display: block;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
    }
    
    .menu__botaoMenu .hamburguer {
        width: 2.1rem;
        border-top: 2px solid white;
        display: block;
        transition: .3s;
    }

    .menu__botaoMenu .hamburguer::before, .menu__botaoMenu .hamburguer::after {
        content: '';
        display: block;
        width: 2.1rem;
        height: 0.125rem;
        background-color: white;
        margin-top: 7px;
        transition: .3s;
    }

    /* CLASSE QUE VAI SER ATIVADA COM JAVASCRIPT */
    .menu__botaoMenu .hamburguer.ativado {
        border-top: transparent;
    }

    .menu__botaoMenu .hamburguer.ativado::before {
        transform: rotate(135deg);
    }

    .menu__botaoMenu .hamburguer.ativado::after {
        transform: rotate(-135deg);
        position: relative;
        top: -9px;
    }

    .menu__listaLinks.ativado {
        height: calc(20.5rem - 4rem);
        visibility: visible;
    }
    
    .menu__listaLinks {
        position: absolute;
        flex-direction: column;
        background-color: var(--cor2);
        width: 100%;
        height: 0;
        visibility: hidden;
        left: 0;
        gap: 0;
        top: 17.6rem;
        overflow-y: hidden;
        text-align: center;
        transition: 0.5s;
        z-index: 2;
        padding: 0;
    }

    .listaLinks__item a {
        display: block;
        width: 100%;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    /* SEÇÃO ANÚNCIOS */
    .secaoAnuncios {
        flex-direction: column;
    }

    .secaoAnuncios__anuncio {
        height: 8rem;
        width: 100%;
    }

    /* SEÇÃO DESTAQUE */
    .secaoDestaque {
        flex-direction: column;
    }

    /* BLOG */
    .blog__artigo {
        width: 100%;
        flex-direction: column;
    }
    
    .blog__imgBoximg {
        width: 58%;
    }

    /* EVENTS */
    .events__listaEvents {
        padding: 0.9rem;
    }

    /* RODAPÉ */
    .rodape__listaSobreNos {
        display: flex;
        gap: 2rem;
        margin-bottom: 1.5rem;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    .rodapeCreditos {
        flex-direction: column;
    }

    .rodapeCreditos p {
        margin-bottom: .6rem;
    }

} 

@media screen and (max-width: 430px) {
    
    .menu__listaLinks {
        top: 16.5rem;
    }

}